/* header 추후 컴포넌트 사용 예정 */
.headerMenu > li > button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 16px;
  border: 1px solid var(--gray400);
  border-radius: 8px;
  color: var(--gray200);
  font-weight: 500;
}

/* sideMenu */
.sideLogo a {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/images/logos/logo-large.svg");
  text-indent: -9999px;
}

.menuList > li {
  padding: 9px 10px;
}

.menuList > li > a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 43px;
  padding-left: 24px;
  line-height: 43px;
  color: var(--gray200);
  font-size: 18px;
  font-weight: 500;
}

.menuList > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  border: 1px solid red;
}

/* boardContents */
.boardCardWrap > button {
  width: 33.33%;
  max-width: 332px;
  height: 70px;
  border: 1px solid var(--gray400);
  border-radius: 8px;
  background: var(--white100);
}

.boardCardWrap > button > span {
  font-weight: 600;
}

.boardCardWrap > button.btnNewCard > span {
  display: inline-block;
  padding-right: 34px;
  background: url("/images/icons/icon_add_card.svg") no-repeat right center/22px;
}

@media (max-width: 1200px) {
  .skills {
    flex-wrap: wrap;
  }
  .boardCardWrap > button {
    width: 50%;
    height: 68px;
  }
}

@media (max-width: 768px) {
  .headerMenu > li > button {
    padding: 3px 12px;
    font-size: 14px;
  }

  .headerMenu > li > button > span {
    display: none;
  }

  .sideLogo a {
    background-position: center;
    background-image: url("/images/logos/logo-small.svg");
  }

  .btnNewBoards {
    width: auto;
    margin: 0 auto;
    text-indent: -9999px;
  }

  .menuList > li {
    padding: 0;
  }

  .menuList > li > a {
    display: block;
    width: 40px;
    height: 40px;
    padding: 16px;
    text-indent: -9999px;
  }

  .menuList > li > a:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .boardCardWrap > button {
    width: 100%;
    height: 58px;
  }
}
