@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --black100: #000;
  --black200: #171717;
  --black300: #333236;
  --gray100: #4b4b4b;
  --gray200: #787486;
  --gray300: #9fa6b2;
  --gray400: #d9d9d9;
  --gray500: #eee;
  --gray600: #fafafa;
  --white100: #fff;
  --purple100: #5534da;
  --red100: #d6173a;
  --pink100: #e876ea;
  --green100: #7ac555;
  --purple200: #760dde;
  --blue100: #76a5ea;
  --orange100: #ffa500;
}

body {
  color: var(--black300);
  background-color: var(--white100);
  font-family: "Pretendard-Regular", Arial, Helvetica, sans-serif;
}

#__next {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
